{
    "env": {
        "development": {
            "presets": [
                "@babel/preset-env",
                "minify"
            ]
        },
        "production": {
            "presets": [
                "@babel/preset-env",
                "minify"
            ]
        }
    }
}